.posts {
	grid-column: 2/3;
	grid-row: 2/4;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow: scroll;
}

.loading-post {
	height: 100px;
	background-color: #ddd;
	border-radius: 10px;
	display: flex;
	flex-direction: row-reverse;
	background: linear-gradient(
		90deg,
		var(--color-primary-loading),
		var(--color-secondary-loading),
		var(--color-primary-loading)
	);
	background-size: 400% 400%;
	animation: loading 2s ease-in-out infinite;
}

.loading-post-thumbnail {
	height: 100px;
	width: 100px;
	border-radius: 10px;
}

@keyframes loading {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 1440px) {
	.posts {
		grid-column: 1/3;
		grid-row: 3/4;
	}
}

@media only screen and (max-width: 768px) {
	.posts {
		grid-column: 1/-1;
		grid-row: 3/5;
	}
}
