.preview {
	padding: 0 !important;
	overflow: hidden;
	grid-column: 3/4;
	grid-row: 2/4;
}

.preview-content {
	height: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	background-color: #000;
}

.preview-content > img {
	max-height: 100%;
	max-width: 100%;
}

.preview-footer {
	padding: 10px;
}

@media only screen and (max-width: 1440px) {
	.preview {
		grid-column: 3/4;
		grid-row: 3/4;
	}
}

@media only screen and (max-width: 768px) {
	.preview {
		grid-column: 1/-1;
		grid-row: 3/4;
	}
}

/* Preview content image needs correcting when laoding real data */
