.preview {
	padding: 0 !important;
	overflow: hidden;
	grid-column: 3/4;
	grid-row: 2/4;
	display: grid;
	grid-template-rows: min-content min-content min-content auto;
}

.media {
	overflow: hidden;
	display: flex;
	justify-content: center;
	background-color: #000;
	max-height: 50vh;
}

.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.8);
	max-height: none;
}

.media > img {
	object-fit: contain;
}

.media > iframe {
	border: none;
	height: 50vh;
}

.title {
	padding: 20px 10px 10px;
	background-color: #f5f5f5;
	color: #0099cc;
	font-weight: bold;
}

.subtext {
	padding: 0 10px 10px;
	background-color: #f5f5f5;
	max-height: 30vh;
	overflow: scroll;
}

.post-info {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding: 10px 0;
}

.post-info :nth-child(2) {
	cursor: pointer;
}

@media only screen and (max-width: 1440px) {
	.preview {
		grid-column: 3/4;
		grid-row: 3/4;
	}
}

@media only screen and (max-width: 768px) {
	.preview {
		grid-column: 1/-1;
		grid-row: 3/4;
	}
}
