.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	grid-column: 1 / -1;
}

.header-logo {
	width: 32px;
}

input,
select {
	width: 100px;
	height: 32px;
	background-color: var(--color-tertiary);
}

.settings-icon {
	width: 28px;
	align-self: center;
	filter: invert(50%) sepia(7%) saturate(18%) hue-rotate(323deg)
		brightness(84%) contrast(89%);
}

.settings-menu {
	width: 200px;
	z-index: 1;
	position: absolute;
	top: 75px;
	left: 50px;
}

.settings-menu > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding: 10px; */
}

.settings-menu > div > img {
	filter: invert(46%) sepia(57%) saturate(3013%) hue-rotate(164deg)
		brightness(90%) contrast(108%);
}

@media only screen and (max-width: 768px) {
	.text {
		display: none;
	}

	.header {
		gap: 5px;
	}

	.header-logo {
		width: 24px;
		margin-right: -5px;
	}

	.settings-icon {
		width: 24px;
		margin-left: -5px;
	}

	.settings-menu {
		left: 20px;
	}
}
