.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	grid-column: 1 / -1;
}

.header-logo {
	width: 32px;
}

input,
select {
	width: 100px;
	height: 32px;
}

@media only screen and (max-width: 768px) {
	.text {
		display: none;
	}
}
