
.sidebar {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
	gap: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
    overflow: hidden;
}

.description {
        overflow: scroll;
}

@media only screen and (max-width: 1440px) {
    .sidebar {
        grid-column: 1/-1;
        grid-row: 2/3;

        flex-direction: row;
    }

    .sidebar>.no-wrap {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    .description {
        display: none;
    }
}