.search-results {
    height: 310px;
    width: 86vw;
    max-width: 400px;
    position: absolute;
    top: 75px;
    right: 50px;
    overflow: scroll;
}

.search-result {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
}

.search-result:hover {
    color: #0099CC;
    background-color: #f5f5f5;
}

@media only screen and (max-width: 1440px) {
    .search-results {
        right: 20px;
    }
}