.comments {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	overflow: scroll;
}

.comment {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.comment-body {
	display: flex;
	gap: 10px;
	background-color: #f5f5f5;
	border-radius: 10px;
}

.comment img {
	width: 30px;
	height: 30px;
}
