.comments {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px 1px 10px 10px;
}

.preview > .comments {
	padding-right: 10px;
}

.comment {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.comment-body {
	display: flex;
	gap: 10px;
	background-color: #f5f5f5;
	border-radius: 10px;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
}

.comment-body > div {
	display: flex;
	gap: 5px;
}

.comment img {
	width: 30px;
	height: 30px;
}

.replies {
	display: flex;
	/* flex-direction: column; */
	align-items: center;
}

.replies>img {
	scale: 0.7;
	rotate: 180deg;
	margin: -10px;
}