.loading-comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.loading-comment {
    display: flex;
    gap: 10px;
}

.loading-comment-avatar {
    width: 30px;
    height: 29px;
    border-radius: 50%;
    background-color: #0099cc90;
}

.loading-comment-content {
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(90deg, #ddd, #eee, #ddd);
    background-size: 400% 400%;
    animation: loading 2s ease-in-out infinite;
}

@keyframes loading {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}