.post {
	display: flex;
	justify-content: space-between;
	max-height: fit-content;
	align-items: center;
	padding: 0 0 0 10px !important;
}

.post-title {
	padding: 10px;
}

.post-stats {
	text-align: right;
}

.post-thumbnail {
	height: 100px;
	width: 100px;
	border-left: #f5f5f5 1px solid;
}

.post-thumbnail > img {
	border-radius: 10px;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
