.post {
	display: flex;
	justify-content: space-between;
	max-height: fit-content;
	align-items: center;
	padding: 0 0 0 10px !important;
}

.post:hover {
	background-color: var(--color-tertiary);
}

.post-title {
	padding: 10px;
	font-weight: bold;
}

.post-stats {
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80px;
}

.post-stat {
	display: flex;
	flex-direction: row-reverse;
	gap: 2px;
}

.post-stat > img {
	filter: invert(46%) sepia(57%) saturate(3013%) hue-rotate(164deg)
		brightness(90%) contrast(108%);
}

.post-thumbnail {
	height: 100px;
	width: 100px;
}

.post-thumbnail > img {
	border-radius: 10px;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.share {
	cursor: pointer;
}
