.post {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
    padding: 0 0 0 10px !important;
}

.post-stats {
    text-align: right;
}

.post-thumbnail>img {
    height: 100px;
    width: 100px;
    border-left: #f5f5f5 1px solid;
}