body {
	font-family: 'Roboto', sans-serif;
	background-color: #f5f5f5;
	padding: 10px;
    color: #707070;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

.tile {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	padding: 5px;
}

.blue {
    color: #0099CC;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 10px;
}