body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--color-tertiary);
	padding: 10px 50px;
	color: var(--color-secondary);
}

.tile {
	background-color: var(--color-bg);
	border-radius: 10px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	padding: 10px;
	margin: 2px;
}

.blue {
	color: var(--color-primary);
}

.flex-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.no-wrap {
	white-space: nowrap;
}

.container {
	display: grid;
	grid-template-columns: 250px 1fr 50%;
	grid-template-rows: 55px 270px calc(100vh - 370px);
	gap: 10px;
}

@media only screen and (max-width: 1440px) {
	.container {
		grid-template-rows: 55px 55px calc(100vh - 160px);
	}

	body {
		padding: 10px 20px;
	}
}

@media only screen and (max-width: 768px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 55px 55px calc(55vh - 135px) calc(55vh - 135px);
	}
}

@media only screen and (max-width: 480px) {
	.container {
		grid-template-rows: 55px 55px calc(50vh - 135px) calc(50vh - 135px);
	}
}
