:root {
	--color-primary: #0099cc;
	--color-secondary: #707070;
	--color-tertiary: #f5f5f5;
	--color-bg: #fff;

	--color-primary-loading: #eee;
	--color-secondary-loading: #ccc;
}

.darkmode {
	background-color: #101318;

	--color-secondary: #ccc;
	--color-tertiary: #0b0e11;
	--color-bg: rgb(37, 37, 37);

	--color-primary-loading: #1f1f1f;
	--color-secondary-loading: #2f2f2f;
}


body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
a:visited,
a:active {
	color: inherit;
	text-decoration: none;
}

* {
	user-select: none;
}

*::-webkit-scrollbar {
	display: none;
}
